@page "/phenological-calendar"
@using Microsoft.AspNetCore.Mvc.RazorPages
@rendermode InteractiveServer

<PageTitle>Фенокалендарь</PageTitle>

<style>
.dropbtn {
  background-color: green;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Выберите культуру
  </button>
  <div class="dropdown-content">
    <a href="pp">Пшеница</a>
    <a href="kk">Кукуруза</a>
    <a href="oo">Огруцы</a>
  </div>
</div>

<p role="status">фенологический календарь (бета вычислений): @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Вычислить </button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}