@page "/phenological-calendar"
@rendermode InteractiveServer

<PageTitle>Фенокалендарь</PageTitle>

<p role="status">фенологический календарь (бета вычислений): @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Вычислить </button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}