@page "/"

<PageTitle>Домашняя</PageTitle>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
    .text-bg-dark {
        color: #fff !important;
        background-color: #228B22;

    }

    .bg-image{
        background-image: url('https://images.wallpaperscraft.ru/image/single/pshenitsa_pole_kolosia_874966_3840x2160.jpg');
        background-size: 1920px 1080px;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }

    .py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    }
    
    
    .bg-body-tertiary2 {
        --bs-bg-opacity: 1;
        background-color: green;
    }
 
</style>


<body>
    <main>
        <div class="bg-image">
            <div class="container py-4" style="color: white">
                <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">О проекте</h1>
                        <p class="col-md-8 fs-4">
                            Вырастим вместе – проект направленный на развитие агроспециальностьей и популяризацию сельского хозяйства среди школьников.

                            Мы ценим наше главное достояние, нашу землю и хотим донести до всех о её ценности.
                        </p>
                        <button class="btn btn-primary btn-lg" style="" type="button" onclick="window.location.href = 'https://vk.com/letsgrowuptogether';">Группа ВК</button>
                    </div>
                </div>

                <div class="row align-items-md-stretch">
                    <div class="col-md-6">
                        <div class="h-100 p-5 text-bg-dark rounded-3">
                            <h2>Наш проект</h2>
                            <p>
                                Проект создан для популяризации науки среди молодёжи. Здесь вы узнаете как круто быть агрономом и чем они занимаются. Мы проводим занятия для ребят в возрасте от 12 до 18 лет. Мы ставим целью привлечь молодёжь к сельскому хозяйству.
                                Проект был запущен в февраля 2024 года в городе Краснодар.
                            </p>
                            <button class="btn btn-outline-secondary" type="button" onclick="window.location.href = 'https://vk.com/clip166112606_456239790';">Читать про нас</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="h-100 p-5 bg-body-tertiary2 border rounded-3">
                            <h2>Россия - страна возможностей</h2>
                            <p>«Россия – страна возможностей» — открытая площадка для общения талантливых и неравнодушных людей всех возрастов, обмена опытом между школьниками, студентами, профильными специалистами, предпринимателями, управленцами и волонтерами.</p>
                            <button class="btn btn-outline-secondary" type="button" onclick="window.location.href = 'https://vk.com/clip166112606_456239790';">Смотреть видео</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </main>





    <footer class="pt-3 mt-4 text-body-secondary border-top"></footer>


    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
                        <img src="https://sun9-49.userapi.com/impg/1Fnic_A0WTuOL47Qx3HB_W7U1DusLQYNAztZJg/f0oDB76Izq8.jpg?size=2560x1695&quality=95&sign=c9fb6723dd9763200b11a2149f63ca93&type=album">
                        <div class="card-body">
                            <p class="card-text">В конце прошлой недели прошло занятие с учащимся из разных школ. Ребята узнали об основах энтомологии, изучили редких насекомых, посетили музей и поучаствовать в квесте. Всё участники остались очень довольны и приедут ещё раз, а мы будем их ждать и готовиться.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'https://vk.com/wall-225125103_6';">Читать новость</button>
                                </div>
                                <small class="text-body-secondary">Обновлено 9 мин. назад</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">

                        <img src="https://sun9-29.userapi.com/impg/8iSZ5SfaObJYgTusCfoAlZJX12mHRsBUsBG11Q/CqgowqXcyro.jpg?size=2560x1695&quality=95&sign=4e7535a6cfec027801f091e96a4205b2&type=album">
                        <div class="card-body">
                            <p class="card-text">
                                Вот уже с 15 марта мы начали работу нашего проекта. За это время нашей командой были проведены несколько выездных мероприятий и ознакомительные занятия. Ребята которые смогли поучаствовать в них с большим интересом воспринимали всю получаемую информацию. В дальнейшем они желают ещё посещать наши занятия.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'https://vk.com/wall-225125103_3;">Читать новость</button>
                                </div>
                                <small class="text-body-secondary">Обновлено 20 мин. назад</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">

                        <img src="https://sun9-39.userapi.com/impg/lKWQf49Ye8nSDwchk_EHOqU6FhDiqCkitCwiqA/DGrZ0kMSY8U.jpg?size=807x534&quality=95&sign=4761197ec9456491ad1adee605ecaa52&c_uniq_tag=RH-RlJk3QZ7q3HTuX6ApDNElhYG4eubRFpkdMiuP3JI&type=album">
                        <div class="card-body">
                            <p class="card-text">
                                Уже сейчас мы ведём разработку сайта для следующих этапов обучения и готовим ещё много сюрпризов.

                                Будем держать вас в курсе и ждать новых участников проекта!
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'https://vk.com/wall-225125103_3;">Читать новость</button>
                                </div>
                                <small class="text-body-secondary">Обновлено 34 мин. назад</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>







    <div class="container marketing">



        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
                <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            </div>
            <div class="col-md-5">
                <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>-->
                <img src="https://sun9-10.userapi.com/impg/x1CkhEmvWN6o2aKFZ5nqK_lk6-SQd6E25kc-5Q/mivt4bhPJjY.jpg?size=2560x1695&quality=95&sign=7509339e9f89f4ac1cc29bf2b7d97bef&type=album" width="500" height="500">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>-->
                <img src="https://sun9-77.userapi.com/impg/9C9H5Vg9VgN1OS7REt5xdPZis7fYkvvDnkTLGg/u2l0KiGkzds.jpg?size=1280x960&quality=96&sign=9064dfc0bb57c3d2645f55aa0af1e4f9&type=album" width="500" height="500">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
                <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>
</body>