@page "/phenological-calendar"
@rendermode InteractiveServer

<PageTitle>Вырастим вместе</PageTitle>
<script src="https://kit.fontawesome.com/b8991598b2.js"></script>
<style>
    body{
        margin: 0;
        padding: 0;
        /* background: #1da1f3; */
    }

    .search-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,50%);
        background: #2f3640;
        height: 60px;
        border-radius: 40px;
        padding: 10px;

    }

    .search-btn{
        color: white;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        /* background: #2f3640; */
        /*background: #2f3640;*/
        background: #A9A9A9;
       
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .search-box:hover > .search-txt{
        width: 240px;
        padding: 0 6px;
    } 
    .search-txt{
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
        
    }

    .bg-body-tertiary {
        padding: 0;
        background-color: #D3D3D3;
        border-radius: 15px;
        box-shadow: 0 0 0px #000;
        transition: transform 0.8s;
    }
</style>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="search-box">
    <input class="search-txt" type="text" name="" placeholder="Введите название культуры">
    <a class="search-btn" href="#">
        <i class="fa fa-search"></i>
    </a>
</div>