@page "/information"
@attribute [StreamRendering]

<PageTitle>Вырастим вместе</PageTitle>



<footer class="pt-3 mt-4 text-body-secondary border-top">
    <p align="center" style="font-size: 10px;">
        <br>
        Все права защищены. Авторы проекта не несут ответственности
        за точность расчета фенологического календаря и за возможные негативные<br>
        последствия, возникшие при использовании информации с сайта.
        Прогностическая информация на сайте носит исключительно<br>
        ознакомительный характер и ее перепечатка в СМИ запрещена.
        Для принятия решений необходимо руководствоваться официальными<br>
        расчетами фенологического календаря.  © 2024 <br>

    </p>
</footer>