@page "/information"
@attribute [StreamRendering]

<PageTitle>Вырастим вместе</PageTitle>


<style>
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.profile-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profile-card {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.profile-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.profile-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.profile-card p {
    font-size: 1em;
}
</style>
<div class="container">
        <h1>Наш персонал</h1>
        <p>Основная причина, по которой мы продолжаем адаптировать и развивать нашу бизнес-модель, заключается в том, чтобы гарантировать, что мы оправдываем ожидания наших клиентов.</p>
        <div class="profile-cards">
            <div class="profile-card">
                <img src="person1.jpg" alt="Фотография сотрудника">
                <h2>Пол Ларсон</h2>
                <p>Эта разработка является еще одним примером инновационного подхода Daily Poppins к удовлетворению потребностей своих клиентов.</p>
            </div>
            <div class="profile-card">
                <img src="person2.jpg" alt="Фотография сотрудника">
                <h2>Рауль Солис</h2>
                <p>Эта разработка является еще одним примером инновационного подхода Daily Poppins к удовлетворению потребностей своих клиентов.</p>
            </div>
            <div class="profile-card">
                <img src="person3.jpg" alt="Фотография сотрудника">
                <h2>Имя Сотрудника</h2>
                <p>Основная причина, по которой мы продолжаем адаптировать и развивать нашу бизнес-модель, заключается в том, чтобы гарантировать, что мы оправдываем ожидания наших клиентов.</p>
            </div>
        </div>
    </div>

<footer class="pt-3 mt-4 text-body-secondary border-top">
    <p align="center" style="font-size: 10px;">
        <br>
        Все права защищены. Авторы проекта не несут ответственности
        за точность расчета фенологического календаря и за возможные негативные<br>
        последствия, возникшие при использовании информации с сайта.
        Прогностическая информация на сайте носит исключительно<br>
        ознакомительный характер и ее перепечатка в СМИ запрещена.
        Для принятия решений необходимо руководствоваться официальными<br>
        расчетами фенологического календаря.  © 2024 <br>

    </p>
</footer>