/** {
    margin: 0px;
    padding: 0px;
}*/

@media screen and (max-width: 420px){
    container{
        font-size: 1.5rem;
    }
}


@media (max-width: 600px) {
    .table {
        width: 100%;
    }
}
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #33cc14;
}

    .btn-primary {
        color: #fff;
        background-color: #008000;
        border-color: #008000;
        transition: transform 0.2s;
    }

        .btn-primary:hover {
            border-color: #006400;
            background-color: #006400;
            transform: scale(102%);
        }

        .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
            box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
        }   

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #589c4e;
}


.dropbtn {
    background-color: white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #DCDCDC;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #DCDCDC;
}


* {
    box-sizing: border-box;
}

input {
    width: 280px;
    height: 30px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #FFFAFA;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

.search-box {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,50%);
    background: #2f3640;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn {
    color: white;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: #2f3640; */
    background: #2f3640;
    /*background: #A9A9A9;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/*.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}*/

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
}

/*     body {
        margin: 0;
        padding: 0;
        background-image: url(https://kartinki.pics/uploads/posts/2022-02/thumbs/1645506303_4-kartinkin-net-p-kartinki-polya-4.jpg);
        height: 1000px;
        background-size: 1920px 930px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        
    } */
.rounded-box {
    border-radius: 25px;
}

.bg-body-tertiary {
    background-color: #999999;
    box-shadow: 0 0 0px #000;
    transition: transform 0.2s;
}

    .bg-body-tertiary:hover {
        transform: scale(102%);
    }

.bg-body-tertiary-theory {
    --bs-bg-opacity: 1;
    /*background-color: #D3D3D3;*/
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 15px;
    box-shadow: 0 0 0px #000;
    transition: opacity 0.5s ease;
    /*transition: transform 0.8s;*/
}

    .bg-body-tertiary-theory:hover {
        /*transform: scale(1.03);*/
    }

.text-bg-dark {
    color: #fff;
    background-color: #008000;
    box-shadow: 0 0 0px #000;
    transition: transform 0.2s;
}

.bg-dark {
    --bs-bg-opacity: 1;
    margin: 0;
    padding: 0;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

.text-center {
   /* text-align: center !important;*/
    /*         position: fixed;
        z-index: 1; */
}

.border-bottom {
    border-bottom: 1px solid #dee2e6;
    /*         position: absolute;
        z-index: 2; */
}

.text-bg-dark:hover {
    transform: scale(1.03);
}

.p-5 {
    padding: 2rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-secondary {
    color: #008000;
    border-color: #008000;
}

.bg-image {
    background: #F0FFF0;
    border-radius: 15px;
    box-shadow: 0 0 1px #000;
}

.test-news {
    position: fixed;
}


@media (min-width: 641px) {
    .top-row[b-9drrmcz3mj], article[b-9drrmcz3mj] {
        padding-left: 2rem;
        padding-right: 1.5rem;
    }
}
.content {
    padding-top: 1.1rem;
}
.px-4 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.bg-image-search {
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 30px;
}

.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


.me-2 {
    margin-right: .5rem;
}

.form-control {
    display: block;
    width: 450px;
    height: 40px;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
}

.culture-finder-me-2 {
    margin-right: .5rem;
}

.form-control-culture-finder {
    display: block;
    width: 240px;
    height: 40px;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: #6c757d;
}

.parent {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/-----Дата----/

.form-control {
    display: block;
    width: 10px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 50px;
}

.dropdown-header {
    display: block;
    padding: var(--bs-dropdown-header-padding-y) var(--bs-dropdown-header-padding-x);
    margin-bottom: 0;
    font-size: .875rem;
    color: var(--bs-dropdown-header-color);
    white-space: nowrap;
}

.dropdown-divider {
    height: 0;
    margin: var(--bs-dropdown-divider-margin-y) 0;
    overflow: hidden;
    border-top: 1px solid var(--bs-dropdown-divider-bg);
    opacity: 1;
}

.date-form-container {
    text-align: center;
}
.form-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group input {
    width: 80px;
}
