* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #33cc14;
}

    .btn-primary {
        color: #fff;
        background-color: #008000;
        border-color: #008000;
        transition: transform 0.8s;
    }

        .btn-primary:hover {
            border-color: #006400;
            background-color: #006400;
            transform: scale(1.03);
        }

        .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
            box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
        }   

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #589c4e;
}


.dropbtn {
    background-color: white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #DCDCDC;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #DCDCDC;
}


* {
    box-sizing: border-box;
}

input {
    width: 280px;
    height: 30px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #FFFAFA;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    /* background: #1da1f3; */
}

.search-box {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,50%);
    background: #2f3640;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn {
    color: white;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: #2f3640; */
    background: #2f3640;
    /*background: #A9A9A9;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/*.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}*/

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
}

.bg-body-tertiary {
    padding: 0;
    background-color: #D3D3D3;
    border-radius: 15px;
    box-shadow: 0 0 0px #000;
    transition: transform 0.8s;
}

/*     body {
        margin: 0;
        padding: 0;
        background-image: url(https://kartinki.pics/uploads/posts/2022-02/thumbs/1645506303_4-kartinkin-net-p-kartinki-polya-4.jpg);
        height: 1000px;
        background-size: 1920px 930px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        
    } */
.rounded-3 {
    border-radius: var(--bs-border-radius-lg) !important;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #D3D3D3;
    border-radius: 15px;
    box-shadow: 0 0 0px #000;
    transition: transform 0.8s;
}

    .bg-body-tertiary:hover {
        transform: scale(1.03);
    }

.bg-body-tertiary-theory {
    --bs-bg-opacity: 1;
    /*background-color: #D3D3D3;*/
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 15px;
    box-shadow: 0 0 0px #000;
    transition: opacity 0.5s ease;
    /*transition: transform 0.8s;*/
}

    .bg-body-tertiary-theory:hover {
        /*transform: scale(1.03);*/
    }

.text-bg-dark {
    color: #fff !important;
    background-color: #008000;
    border-radius: 50px;
    box-shadow: 0 0 0px #000;
    transition: transform 0.8s;
}

.bg-dark {
    --bs-bg-opacity: 1;
    margin: 0;
    padding: 0;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.text-center {
   /* text-align: center !important;*/
    /*         position: fixed;
        z-index: 1; */
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
    /*         position: absolute;
        z-index: 2; */
}

.text-bg-dark:hover {
    transform: scale(1.03);
}

.p-5 {
    padding: 3rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-secondary {
    color: #008000;
    border-color: #008000;
}

.bg-image {
    background: #F0FFF0;
    border-radius: 15px;
    box-shadow: 0 0 1px #000;
}

.test-news {
    position: fixed;
}


@media (min-width: 641px) {
    .top-row[b-9drrmcz3mj], article[b-9drrmcz3mj] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
.content {
    padding-top: 1.1rem;
}
.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.bg-image-search {
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 30px;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}



table.iksweb {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
    padding: 50px;
    /*margin: 60px;*/
}

    table.iksweb, table.iksweb td, table.iksweb th {
        border: 1px solid #595959;
    }

        table.iksweb td, table.iksweb th {
            padding: 3px;
            width: 30px;
            height: 35px;
        }

        table.iksweb th {
            background: #347c99;
            color: #fff;
            font-weight: normal;
        }
table.iksweb {
    text-decoration: none;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

    table.iksweb th {
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
        background-color: #354251;
    }

    table.iksweb td {
        font-size: 13px;
        color: #354251;
    }

    table.iksweb td, table.iksweb th {
        white-space: pre-wrap;
        padding: 10px 5px;
        line-height: 13px;
        vertical-align: middle;
        border: 1px solid #354251;
    }

    table.iksweb tr:hover {
        background-color: #f9fafb
    }

        table.iksweb tr:hover td {
            color: #354251;
            cursor: default;
        }

.mobile-table {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

/*.form-control {
    display: block;
    width: 240px;*/
    /*padding: .375rem .75rem;*/
    /*font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;*/
    /*color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;*/
/*}*/



.me-2 {
    margin-right: .5rem !important;
}

.form-control {
    display: block;
    width: 450px;
    height: 40px;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;*/
}

.parent {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/*-----------------------Слайдер----------------------------*/


#slider { /*положение слайдера*/
    position: relative;
    text-align: center;
    top: 10px;
}

#slider { /*центровка слайдера*/
    margin: 0 auto;
}

#slides article { /*все изображения справа друг от доруга*/
    width: 20%;
    float: left;
}

#slides .image { /*устанавливает общий размер блока с изображениями*/
    width: 500%;
    line-height: 12;
}

#overflow { /*сркывает все, что находится за пределами этого блока*/
    width: 100%;
    overflow: hidden;
}

article img { /*размер изображений слайдера*/
    width: 100%;
}

#desktop:checked ~ #slider { /*размер всего слайдера*/
    max-width: 1200px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(12),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4)
#switch6:checked ~ #controls label:nth-child(5)
#switch7:checked ~ #controls label:nth-child(6)
#switch8:checked ~ #controls label:nth-child(7)
#switch9:checked ~ #controls label:nth-child(8)
#switch10:checked ~ #controls label:nth-child(9)
#switch11:checked ~ #controls label:nth-child(10)
#switch12:checked ~ #controls label:nth-child(11){
    background: url("https://e7.pngegg.com/pngimages/779/795/png-clipart-shadow-arrow-shadow-arrow.png"); /*заливка фона картинкой без повторений*/
    float: left;
    margin: 0 0 0 -84px; /*сдвиг влево*/
    display: block;
    height: 68px;
    width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(6)
#switch6:checked ~ #controls label:nth-child(7)
#switch7:checked ~ #controls label:nth-child(8)
#switch8:checked ~ #controls label:nth-child(9)
#switch9:checked ~ #controls label:nth-child(10)
#switch10:checked ~ #controls label:nth-child(11)
#switch11:checked ~ #controls label:nth-child(12)
#switch12:checked ~ #controls label:nth-child(11)
{
    background: url("https://e7.pngegg.com/pngimages/779/795/png-clipart-shadow-arrow-shadow-arrow.png") no-repeat; /*заливка фона картинкой без повторений*/
    float: right;
    margin: 0 -84px 0 0; /*сдвиг вправо*/
    display: block;
    height: 68px;
    width: 68px;
}

label, a { /*при наведении на стрелки или переключатели - курсор изменится*/
    cursor: pointer;
}

.all input { /*скрывает стандартные инпуты (чекбоксы) на странице*/
    display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image {
    margin-left: 0;
}

#switch2:checked ~ #slides .image {
    margin-left: -100%;
}

#switch3:checked ~ #slides .image {
    margin-left: -200%;
}

#switch4:checked ~ #slides .image {
    margin-left: -300%;
}

#switch5:checked ~ #slides .image {
    margin-left: -400%;
}

#switch6:checked ~ #slides .image {
    margin-left: -500%;
}

#switch7:checked ~ #slides .image {
    margin-left: -600%;
}

#switch8:checked ~ #slides .image {
    margin-left: -700%;
}

#switch9:checked ~ #slides .image {
    margin-left: -800%;
}

#switch10:checked ~ #slides .image {
    margin-left: -900%;
}

#switch11:checked ~ #slides .image {
    margin-left: -1000%;
}

#switch12:checked ~ #slides .image {
    margin-left: -1100%;
}

#controls { /*положение блока всех управляющих элементов*/
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}

#active label { /*стиль отдельного переключателя*/
    border-radius: 10px; /*скругление углов*/
    display: inline-block; /*расположение в строку*/
    width: 15px;
    height: 15px;
    background: #bbb;
}

#active { /*расположение блока с переключателями*/
    margin: 23% 0 0;
    text-align: center;
}

    #active label:hover { /*поведение чекбокса при наведении*/
        background: #76c8ff;
        border-color: #777 !important; /*выполнение в любом случае*/
    }

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5), 
#switch6:checked ~ #active label:nth-child(6), 
#switch7:checked ~ #active label:nth-child(7), 
#switch8:checked ~ #active label:nth-child(8),
#switch9:checked ~ #active label:nth-child(9), 
#switch10:checked ~ #active label:nth-child(10), 
#switch11:checked ~ #active label:nth-child(11), 
#switch12:checked ~ #active label:nth-child(12) {
    background: #18a3dd;
    border-color: #18a3dd !important;
}

#slides .image { /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover { /*прозрачность стрелок при наведении*/
    opacity: 0.6;
}

#controls label { /*прозрачность стрелок при отводе курсора*/
    transition: opacity 0.2s ease-out;
}